#one{
    padding: 20px 50px 60px;
}

nav{
    background: #404040;
}

#two{
    background: #404040;
    color: #f0fed9;
}



body{
    background-image: linear-gradient(to right, #404040,#26a0da);
}